

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body {
  background-color:  #f2f2f2;

}
#body {
  width: 100%;
}
.header {
  height: 80px;
  background-color: #6A95D0;
  width: 100%;

  .form-nav {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 120px;
    margin-top: 26px;

  }
 // i {
 //   width: 30px;
 //   height: 30px;
 //   margin-left: 30px;
 //   margin-top: 10px;
 // }
}
.form-body {
  background-color: #FFF;
  width: 100%;
  height: 250px;
  .form-group {
    width: 100%;
    input {
      width: 90%;
      margin-left: 50px;
      margin-top: 30px;
      height: 40px;
    }
    textarea {
      width: 90%;
      margin-left: 50px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  button {
    float: right;
    height: 30px;
    width: 70px;
    margin-right: 75px;
    background-color: none;
  }
  .cancel {
    margin-right: 40px;
  }
}
#pics-container {
  width: 80%;
  margin: 0 auto;
  background-color: #d9d9d9;
  .indPic {
    width: 80%;
    background-color: #FFF;
    margin: 0 auto;
    img {
      width: 100%;
      height: 500px;
    }
    p {
      text-align: center;
    }
  }
}
